<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Agricare-Login</title>
	<link rel="icon" href="Images\logo.png" sizes="32x32" />
    <link rel="stylesheet" type="text/css" href="login-style.css">
</head>

<body>
	<div class="main">
	<a href="index.html"><img style="width:300px;" src="Images\banner.png"></a><br><br>
  <form class="login">
  <input type="text" class="input" placeholder="Username"><br><br>
  <input type="password" class="input" placeholder="Password"><br><br>
  <button class="button">Login</button>
	</form>
</div>
</body>
</html>