{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Agricare-Crop Recommendation</title>
    <link rel="icon" href="Images\logo.png" sizes="32x32" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static './login-style.css' %}"
    />
  </head>

  <body>
    <div class="main">
      <a href="{% url 'home'%}"
        ><img style="width: 300px" src="{% static './Images/banner.png'%}" /></a
      ><br /><br />
      <form class="login" action="{% url 'result' %}" method="post">
        {% csrf_token %}
        <input
          type="number"
          class="input"
          placeholder="Ratio of Nitrogen Content"
          name="n"
          step="0.001"
          required
        /><br />
        <input
          type="number"
          class="input"
          placeholder="Ratio of Phosphorous Content"
          name="p"
          step="0.001"
          required
        /><br />
        <input
          type="number"
          class="input"
          placeholder="Ratio of Potassium Content"
          name="k"
          step="0.001"
          required
        /><br />
        <input
          type="number"
          class="input"
          placeholder="Temperature"
          name="temp"
          step="0.001"
          required
        /><br />
        <input
          type="number"
          class="input"
          placeholder="Humidity"
          name="hum"
          step="0.001"
          required
        /><br />
        <input
          type="number"
          class="input"
          placeholder="pH of Soil"
          name="ph"
          step="0.001"
          required
        /><br />
        <input
          type="number"
          class="input"
          placeholder="Rainfall"
          name="rain"
          step="0.001"
          required
        /><br />
        <button class="button">Recommend</button>
      </form>
    </div>
  </body>
</html>
