@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

body {
  font-family: Roboto;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(45deg, #34c464, yellow);
}

.main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 10%;
  box-shadow: 12px 12px 16px #000000;
  overflow: scroll;
  overflow-y: auto;
  max-height: 100%;
}

.input {
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  margin-top: 10px;
}

.input:hover {
  border: 2px solid #34c464;
}

.button {
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid #34c464;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 10px;
  color: #34c464;
}

.button:hover {
  background-color: #34c464;
  color: white;
}

table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 110%;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

thead tr {
  background-color: #34c464;
  color: #ffffff;
  text-align: center;
}

th {
  font-size: 115%;
}

th,
td {
  padding: 17px 20px;
}

tr {
  border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #34c464;
}

tbody tr:hover {
  color: #34c464;
}

a {
  text-decoration: none;
  color: green;
}

.pr {
  font-family: Roboto;
  font-size: 150%;
}
